<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">CLASS-E-FIED</h1>
    <p class="lead">Don't keep your knowledge to yourself, share them anonymously!</p>
    <hr>
    <a class="submit btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
